@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }
  
  ul li {
    animation: slideInFromRight 1s ease-in forwards;
  }
  
  ul li {
    transform: translateX(100%);
    opacity: 0;
  }
  
  .atagbtn:hover{
    box-shadow: inset 45px 0 0 0 #b59d32;
    color:white;
  }

  .atagbtn{
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    

  }